*{
	margin: 0;
	padding: 0;
}

body.baltsms{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #666666;
}

div#baltsms-page{
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px;
	min-height: 100px;
	background: white;
}

ul#tab-nav{
	margin: 10px auto 0 auto;
}

div#baltsms-loader{
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
	width: 220px;
	height: 20px;
}

div#baltsms-form-button{
	float: right;
	margin-right: 16px;
}

div#baltsms-form-button:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

textarea.baltsms{
	resize: none;
}

div#baltsms-flags{
	position: absolute;
	margin-left: -30px;
}

div#baltsms-flags img{
	cursor: pointer;
	display: block;
	margin-top: 10px;
}

div#instructions .panel-heading{
	padding-top: 11px;
}

div#alerts {
	margin-top: -10px;
	margin-bottom: 30px;
}

.group { 
  position:relative; 
  margin-bottom: 35px; 
}

.inputMaterial {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background-color: white !important;
}

.inputMaterial:focus { outline:none;}

/* LABEL ======================================= */

label {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
  top:-15px;
  font-size:14px;
  color: #009688;
}

/* BOTTOM BARS ================================= */
.bar { position:relative; display:block; width:10)%; }
.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #009688; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}

/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
}